<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     <script id="underscore" src="http://documentcloud.github.com/underscore/underscore.js"></script>
          <script id="json2" src="http://backbonejs.org/test/vendor/json2.js"></script>
          <script id="backbone" src="http://backbonejs.org/backbone.js"></script>
          <script   data-main="javascripts/app" src="/javascripts/require-jquery.js"></script>
          <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <h1><%= title %></h1>

  </body>
  <script type='text/javascript'>
     var resume = {};
     resume.routes = {
        detailsRoute:'<%= detailsRoute %>',
        headerRoute:'<%= headerRoute %>'
     };

  <script>
</html>